@import "tailwindcss";

@theme {
  --color-dark: #fff;
  --color-secondary: #222;
  --color-light: #111;
  --color-primary: #4a4a7d;
  --color-accent: #050505;
  --color-red: #f00;
}
.dark {
  --color-dark: #0a193a;
  --color-secondary: #d5d7df;
  --color-light: #ffffff;
  --color-primary: #263e5e;
  --color-accent: #d5d7df;
  --color-red: #f00;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--color-dark) !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px var(--color-light) inset !important;
  background-clip: padding-box !important;
  caret-color: var(--color-dark) !important;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

@keyframes typing {
  0%, 80%, 100% {
    transform: scale(0.6);
    opacity: 0.4;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}

.dot {
  animation: typing 1s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}
